<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Discord Sticker List</title>
		<meta name="description" content="All the currently available Discord stickers">
		<link rel="shortcut icon" type="image/svg+xml" href="/img/icon.png">
		<meta name="og:image" content="https://stickers.advaith.io/img/icon.png">
		<link rel="stylesheet" href="/style.css">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-5J8X1H60G1"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.6/lottie_light.min.js" integrity="sha512-u17Fj9cQ8L0qSebNF1zhbeAvbqSUBhX3jILF5zuZh2omdVev/zlHMeW0f2fDSW4o+/kbin6ZA9LtLfaXS0WIlQ==" crossorigin="anonymous"></script>
		<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-5J8X1H60G1');
		</script>
		<script async src="https://arc.io/widget.min.js#u2YPfGET"></script>
	</head>
	<body>
		<section class="hero">
			<div class="hero-body">
				<div class="container is-fluid">
					<div class="columns">
						<div class="column is-three-quarters">
							<h1 class="title is-2">
								Discord Sticker List
							</h1>
							<p class="subtitle is-4">
								All the currently available <a target="_blank" rel="noopener" href="https://dis.gd/stickerswhen">Discord stickers</a>
							</p>
							<p class="is-size-5 mb-1">
								Hover over a sticker to show it
							</p>
							<p id="info" class="is-size-5">
								Name: <span id="name"></span><br>
								Description: <span id="description"></span><br>
								Tags: <span id="tags"></span><br>
							</p>
						</div>
						<div id="img-col" class="column">
							<img id="img" src="" alt="Sticker Image" width="160" height="160" draggable="false">
							<div id="lottie"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section pt-0">
			<div class="container is-fluid">
				<div class="columns">
					<% data.sticker_packs?.map(pack => { %>
						<div class="column">
							<picture>
								<source srcset="https://cdn.discordapp.com/app-assets/710982414301790216/store/<%= pack.store_listing.thumbnail.id %>.webp?size=512" type="image/webp">
								<source srcset="https://cdn.discordapp.com/app-assets/710982414301790216/store/<%= pack.store_listing.thumbnail.id %>.png?size=512" type="image/png">
								<img src="https://cdn.discordapp.com/app-assets/710982414301790216/store/<%= pack.store_listing.thumbnail.id %>.png?size=512" width="440" height="100" alt="">
							</picture>
							<h2 class="title is-4"><%= pack.name %></h2>
							<% pack.stickers.sort((a, b) => a.name.localeCompare(b.name)).map(sticker => { %>
								<p><span class="sticker" data-id="<%= sticker.id %>" data-type="<%= sticker.format_type %>" data-asset="<%= sticker.asset %>" data-description="<%= sticker.description %>" data-tags="<%= sticker.tags %>"><%= sticker.name %></span></p>
							<% }) %>
						</div>
					<% }) %>
				</div>
			</div>
		</section>
		<footer class="footer is-size-5">
			Created by <a href="https://advaith.io" target="_blank" rel="noopener">Advaith</a> <span class="spacer"></span> • <span class="spacer"></span> <a href="https://twitter.com/DiscordStickers" target="_blank" rel="noopener"><img id="twitter" src="/img/twitter.svg" alt="Twitter" width="248" height="204"> @DiscordStickers</a> <span class="spacer"></span> • <span class="spacer"></span> <a href="https://github.com/advaith1/stickers" target="_blank" rel="noopener">Source on GitHub</a> <span class="spacer"></span> • <span class="spacer"></span> Not affiliated with Discord
		</footer>
		<script>
			const info = document.getElementById('info')
			const name = document.getElementById('name')
			const description = document.getElementById('description')
			const tags = document.getElementById('tags')
			const img = document.getElementById('img')
			const container = document.getElementById('lottie')
			document.querySelectorAll('.sticker').forEach(e => {
				e.addEventListener('mouseover', event => {
					const sticker = event.target.dataset
					name.innerText = event.target.innerText
					description.innerText = sticker.description
					tags.innerText = sticker.tags
					twemoji.parse(info, {folder: 'svg', ext: '.svg'})
					if (sticker.type != 3) {
						lottie.destroy()
						img.src = `https://cdn.discordapp.com/stickers/${sticker.id}/${sticker.asset}.png`
					} else {
						img.src = ''
						lottie.destroy()
						lottie.loadAnimation({
							container,
							path: `lottie/${sticker.id}/${sticker.asset}`,
							renderer: 'svg'
						})
					}
				})
			})
			img.addEventListener('contextmenu', event => event.preventDefault())
		</script>
	</body>
</html>
